<div id="ribbon">
	<h3>Currency</h3>
</div>
<div id="input_content">
	<div class="add-content">
		<div class="col-md-5">
			<div class="row">
				<div class="col-sm-12">
					<div class="form-row">
						<input type="text" ng-model="currency.currency_code" name="currency_code" id="currency_code" required ng-model-options="{allowInvalid: true}" maxLength="3" ng-disabled="isEdit">
						<label class="input-label currency_disabled">Currency Code</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="form-row">
						<input type="text" ng-model="currency.exchange_year" name="exchange_year" id="exchange_year" required ng-model-options="{allowInvalid: true}" ng-disabled="isEdit">
						<label class="input-label currency_disabled">Year</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="form-row">
						<input type="text" ng-model="currency.exchange_rate" name="exchange_rate" id="exchange_rate" required ng-model-options="{allowInvalid: true}" min="0">
						<label class="input-label">Exchange Rate</label>
					</div>
				</div>
			</div>
			<div class="row" ng-if="checkShow">
				<div class="col-sm-12" ng-show="is_offline">
					<br>
					<button type="button" class="btn btn_save" ng-click="saveCurrency()">Save</button>
					<button type="button" class="btn btn_reset" ng-click="reset()">Reset</button>
				</div>
			</div>
		</div>
		<div class="col-md-7"></div>
	</div>
</div>
<div id="table_content">
	<div class="table_box">
		<div class="col-sm-12">
			<h3 class="title_table">
				Currency List
			</h3>
			<table id="currency_datatable" class="table table-striped table-bordered" width="100%" datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance">
				<thead>
					<tr class="filter-group">
					  	<th>Currency Code</th>
					  	<th>Exchange Rate</th>
					  	<th>Year</th>
					  	<th></th>  	
			    	</tr>
					<tr>
					  	<th>Currency Code</th>
					  	<th>Exchange Rate</th>
					  	<th>Year</th>
					  	<th></th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>