<style type="text/css">
body {
    background: url('/assets/img/bg1.jpg');
}
#main {
	min-height: 100%;
	padding-bottom: 0px;
}
</style>
<div class="container login-box">
    <div class="col-md-8 left-col">
    </div>
    <div class="col-md-4 right-col">
		<div class="logo_center">
			<img src="assets/img/logo/zwilling.png">
		</div>
        <div class="form-login">
            <div class="alert alert-danger" role="alert" ng-if="login.errorMessage">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{login.errorMessage}}
            </div>
        	<form class="frm_login" role="form" name="loginForm" ng-submit="login.resetpassword()">
                <div class="form-group">
                    <input type="password" class="form-control" id="password" placeholder="New Password" required ng-model="login.user_password">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="confirm-password" placeholder="Confirm Password" required ng-model="login.re_password">
                </div>
				<div class="form-group center">
					<button class="btn btn-default btn-login" type="submit">Submit</button>
				</div>
				<div class="form-group center">
					<p><a ui-sref="login">Return to login</a></p>
				</div>
        	</form>
        </div>
    </div>
</div>